/*
.loader{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    z-index: 100;
    font-size: 2rem;
    animation: myanimation 4s linear infinite alternate;

} */
.table-wrapper {
  height: calc(100vh - 54px) !important;
}

/* @keyframes myanimation{
0%{
    opacity: 1;

}
50%{
  opacity: 0.5;
}
100%{
    opacity: 0;

}
} */


/* .circle{
    position: absolute;
    top:45%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    z-index: 100;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
span{
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    animation: myanimation 1s ease infinite alternate;
}


 */
.no-data-text{
  height: 80%;
}
 .spinner-border{
  position: absolute;
  top:50%;
  left: 50%;
  width: 3rem;
   height: 3rem;
 }
 .loader {
  position: absolute;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 1000;
}
.card-body{
  height: 85vh;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
