:root {
  --main-color: #111010;
  --theme-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

a {
  cursor: pointer;
}

html,
body {
  height: 100%;
  overflow-y: hidden !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
