<div class="h-100 bg-dark">
  <div class="container d-flex align-items-center h-100 gap-5">
    <div class="hero-text col-5">
      <h1 class="text-white fs-1">Welcome To Apna Bank</h1>
      <h3 class="text-white">
        At ApnaBank, we understand the importance of managing your finances
        with ease and security. Our innovative online banking platform offers a
        convenient and efficient way to manage your accounts, conduct
        transactions, and access valuable financial tools, all from the comfort
        of your home.
      </h3>
    </div>
    <div class="hero-image col-7">
      <img src="../../../../assets/hero-img.png" alt="" />
    </div>
  </div>
</div>
